button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  padding: 0 16px; 
	gap: 8px; 
  height: 36px;
  border-radius: 10px;
  font-weight: bold;
  z-index: 2;
  cursor: pointer;
  white-space: nowrap; 
}

.primary {
	background-color: #FF9500;
	color: black;
	border: 1px solid #000000;
	outline: 1px solid #FF9500;
	outline-offset: 2px; 
}

.secondary {
	background-color: #222222;
	color: white;
	border: 1px solid white;
	outline: 1px solid white;
	outline-offset: 2px; 
}

.draggable {
	background-color: #000000;
	color: #FF9500;
	border: 1px solid #ffffff;
	outline: 1px solid #000000;
	cursor: grab; 
	position: absolute;
	top: 20dvh;
	right: 20vw;
	gap: 12px;

}

/* Standard hover: liten ljusning */
button:hover {
  transition: all 0.2s ease;
}

/* För primary */
.primary:hover {
  background-color: #ffffff;
	color: black;
	border: 1px solid #ffffff;
	outline: 2px solid white;
	outline-offset: 2px;
	
}

/* För secondary */
.secondary:hover {
  background-color: #ffffff;
	color: black;
	border: 1px solid #ffffff;
	outline: 2px solid white;
	outline-offset: 2px;
	
}

/* För draggable */
.draggable:hover {
  cursor: grabbing;
	color: #000000;
  transform: scale(1.10);
	border: 1px solid #000000;
	outline: 2px solid #FF9500;
	
}
