button {
	width: 124px;
	height: 36px;
	border-radius: 10px;
	font-weight: bol;
}

.primary {
	background-color: #FF9500;
	color: black;
	border: 2px solid #222222;
	outline: 1px solid white;
}

.secondary {
	background-color: #222222;
	color: white;
	border: 1px solid white;
	outline: 1px solid white;
	outline-offset: 2px;
}

