.backdrop {
  position: absolute;
  background-color: transparent;
  width: 100%;
  height: 100%;
  z-index: 5;
}
b {
  font-weight: 700;
}
.menu {
  position: relative;
  height: auto;
  width: 400px;
  padding: 20px 40px;
  background-color: #222222;
  box-shadow: 0px 0px 60px #22222240;
  color: white;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  z-index: 10;
  border: none;
}
.menu > * {
  margin: 0;
}
.textHeader {
  text-align: center;
  color: #ff9500;
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 16px;
}
.sectionTitle {
  color: #ff9500;
  font-size: 20px;
  margin-bottom: 8px;
}
.textParagraph {
  font-weight: 300;
  font-size: 14px;
  margin-bottom: 24px;
}
.textPlayerTitle {
  text-align: center;
  color: #ff9500;
  font-size: 20px;
}
input {
  width: 100%;
  border-radius: 10px;
}
.footerBtns {
  display: flex;
  justify-content: center;
  gap: 10px;
}
button {
  font-weight: bold;
  background: none;
  border: 1px solid white;
  border-radius: 10px;
  color: white;
  padding: 10px;
}

li {
  margin-bottom: 20px;
}
