.board {
  display: grid;
  margin: 0;
  padding: 0;
  width: calc(66px * 20);
  height: calc(66px * 15);
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(15, 1fr);
  background: #474747;
  position: relative;
}


.playerOverlay,
.cells,
.menu,
.scoreScreen {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}

.playerOverlay {
  z-index: 1;
  pointer-events: none;
  font-size: 10vmin;
}

.menu,
.scoreScreen {
  z-index: 3;
}

.cells {
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(15, 1fr);
  z-index: 2;
}


.boardWrapper{
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh;

}

.topBar {
	position: relative;
	width: 100%;
	height: 60px;
	display: flex;
	justify-content: flex-end;
	padding: 0 40px;
	align-items: center;
	box-sizing: border-box;
}
