.board {
    display: grid;
    margin: 0;
    padding: 0;
    width: calc(60px * 9);
    height: calc(60px * 9);
    grid-template-columns: repeat(9, 60px);
    grid-template-rows: repeat(9, 60px);
    background: #474747;

    position: absolute;

}
.behindCells{
    position: absolute;
    top: 40%;
    left: 25%;
    translate: (-50%, -50%);
    z-index: 1;
    pointer-events: none;
    font-size: 70px;
}