.board {
  display: grid;
  margin: 0;
  padding: 0;
  width: calc(60px * 9);
  height: calc(60px * 9);
  grid-template-columns: repeat(9, 60px);
  grid-template-rows: repeat(9, 60px);
  background: #474747;

  position: relative;
}
.playerOverlay,
.cells,
.menu,
.scoreScreen {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
}

.playerOverlay {
  display: grid;
  place-self: center;
  z-index: 1;
  pointer-events: none;
  font-size: 70px;
}
.menu,
.scoreScreen {
  display: grid;
  place-self: center;
  z-index: 3;
}

.cells {
  display: grid;
  grid-template-columns: repeat(9, 60px);
  grid-template-rows: repeat(9, 60px);
  z-index: 2;
}
