.backdrop {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  z-index: 5
}
dialog {
  position: relative;
  height: auto;
  width: 360px;
  padding: 20px 40px;
  background-color: #222222;
	box-shadow: 0px 0px 60px #22222240;
  color: white;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  z-index: 10;
	border: none;
}

dialog > h1 {
	height: auto;
	padding: 0;
	margin-bottom: 60px;
	text-align: center;
}

.buttonContainer {
	height: auto;
	display: flex;
	gap: 12px;
	justify-content: space-between;
}
