#root {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    width: 100vh;
    height: 100vh;
}

.placeholder-cover {
    width: 100%;
    height: 100dvh;
    
}

.black-brick {
    cursor: url('/public/black_brick.png') 4 12, auto;
}

.white-brick {
    cursor: url('/public/white_brick.png') 4 12, auto;
}
