@font-face {
  font-family: "SatoriTrial";
  src: url("fonts/SatoriTRIAL-Thin.ttf");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "SatoriTrial";
  src: url("fonts/SatoriTRIAL-Light.ttf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "SatoriTrial";
  src: url("fonts/SatoriTRIAL-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "SatoriTrial";
  src: url("fonts/SatoriTRIAL-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "SatoriTrial";
  src: url("fonts/SatoriTRIAL-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: white;

  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: "SatoriTrial";
}