.brick {
  width: 40px;         
  height: 40px;
  border-radius: 50%;
}

.black {
  background-color: #101010;
  border: 2px solid #101010;
  box-shadow: inset -4px -4px 2px rgba(255, 255, 255, 0.8);

  }

.white {
 background-color: #E8E8E8;
 border: 2px solid #E8E8E8;
 box-shadow: inset 4px 4px 2px rgba(0, 0, 0, 0.80);;
}

