.boardContainer {
  position: relative;
}

.banner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  user-select: none;
}

.text {
  color: #6c6c6c;
  font-size: 9em;
  font-weight: bold;
}